<div class="container">
    <h2>Accounts</h2>
    <hr />
    {{#each users}}
        <h2>Name</h2>
        <ul>
            <li>Name: {{firstName}}</li>
            <li>Surname: {{lastName}}</li>
        </ul>

        <h2>Additional Information</h2>
        <p>Email: {{email}}</p>
        <p>Role: {{role}}</p>
        {{#if (eq role "premium")}}
            <div class="form-group">
                <button type="submit" class="add-to-cart-button"><a
                        href="/api/users/premium/{{uid}}"
                    >Change to User</a></button>
            </div>
        {{else}}
            <div class="form-group">
                <button type="submit" class="add-to-cart-button"><a
                        href="/api/users/premium/{{uid}}"
                    >Change to Premium</a></button>
            </div>
        {{/if}}
        <button
            type="submit"
            class="delete"
            onclick="deleteAccount(`{{uid}}`)"
        >Delete</button>
        <hr />
    {{/each}}
    <div class="form-group">
        <a href="/api/sessions/logout"><button
                type="submit"
                class="add-to-cart-button"
            >Logout</button></a>
        <a href="/views/products"><button
                type="submit"
                class="add-to-cart-button"
            >Home</button></a>

    </div>
</div>