<h1>Shopping Cart</h1>
<div class="cart-container">

    {{#each cart}}
        <div class="product">
            <img alt="Product Image" />
            <div class="product-info">
                <h3 class="product-title">{{title}}</h3>
                <p class="product-description">{{description}}</p>
                <p class="product-price">${{price}} - Quantity: {{quantity}}</p>
            </div>
            <button
                type="button"
                class="x-button"
                onclick="deleteResourceFromCart({{../cID}}, {{pID}})"
            >
                <span aria-hidden="true">×</span>

            </button>
        </div>

    {{/each}}
    <a
        href="#"
        class="checkout-btn"
        onclick="checkout({{cID}}, `{{email}}`)"
    >Checkout</a>
    <a href="/views/products"><button
            type="submit"
            class="add-to-cart-button"
        >Home</button></a>
</div>