<h1>View Products</h1>
<p>Hola {{user}}!</p>
<a href="/api/sessions/logout"><button
        class="add-to-cart-button"
    >Logout</button></a>
<a href="/views/current"><button class="add-to-cart-button">Profile</button></a>
{{#if cID}}
    <a href="/views/carts/{{cID}}"><button
            class="add-to-cart-button"
        >Cart</button></a>
{{/if}}
<a href="/views/messages"><button class="add-to-cart-button">Messages</button></a>
<a href="/views/changeRole"><button class="add-to-cart-button">Change role</button></a>
{{#if admin}}
<a href="/views/accounts"><button class="update">Accounts</button></a>
{{/if}}
<hr />
<body>
    <div class="arrow-container">
        {{#if pagination.prevPage}}
            <button class="arrow arrow-right"><a
                    href="?pages={{pagination.prevPage}}"
                >←</a></button>
        {{/if}}

        <span class="card-title">{{pagination.page}}</span>
        {{#if pagination.nextPage}}
            <button class="arrow arrow-right"><a
                    href="?pages={{pagination.nextPage}}"
                >→</a></button>
        {{/if}}
    </div>
    {{#if admin}}
    <div>
        <a href="/views/createProduct"><button
        class="add-to-cart-button"
        >Create Product</button></a></div>
        {{/if}}
        {{#if (eq role "premium")}}
        <div>
        <a href="/views/createProduct"><button
        class="add-to-cart-button"
        >Create Product</button></a></div>
        {{/if}}
    <div class="card-container">
            {{#each prod}}
                <div class="card">
                    <h2 class="card-title">{{title}}</h2>
                    <p class="card-description">{{description}}</p>
                    <p class="card-price">${{price}}</p>
                    <p class="card-info">
                        <strong>Product Code:{{code}}</strong>
                        <br />
                        <strong>Stock:{{stock}}</strong>
                        <br />
                        <strong>Category:{{category}}</strong>
                        <br />
                        <strong>ID:{{pID}}</strong>

                    </p>
                    {{#if ../admin}}
                    <button
                        class="update"
                    ><a href="/views/updateProduct/{{pID}}">Update</a></button>
                    <button
                        class="delete"
                        onclick="deleteResource({{pID}})"
                    >Delete</button>
                    {{else}} {{#if (eq owner "admin")}}
                    <button
                        id="product-{{pID}}"
                        class="add-to-cart-button"
                        onclick="handleClick({{pID}}, {{../cID}}, {{stock}})"
                    >Add to Cart</button>
                     {{else}} {{#if (eq owner ../user)}}
                    <button
                        class="delete"
                        onclick="deleteResource({{pID}})"
                    >Delete</button>
                    <button
                        id="product-{{pID}}"
                        class="add-to-cart-button"
                    >You added this product</button>
                    {{else}}
                    <button
                        id="product-{{pID}}"
                        class="add-to-cart-button"
                        onclick="handleClick({{pID}}, {{../cID}}, {{stock}})"
                    >Add to Cart</button>
        

        
                {{/if}}
                {{/if}}
                {{/if}}
                </div>
            {{/each}}

            

            
    </div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>