<h1>Example App: Home</h1>
{{#each prod}}
    Name:
    <h1>{{this.title}}</h1>
    Description:
    <p>{{this.description}}</p>
    Price:
    <p>{{this.price}}</p>
    Thumbnails:
    <p>{{this.thumbnails}}</p>
    Code:
    <p>{{this.code}}</p>
    Stock:
    <p>{{this.stock}}</p>
    Category:
    <p>{{this.category}}</p>
    ID:
    <p>{{this.id}}</p>
    <hr />
{{/each}}
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>